{% extends "base.html" %}
{% load static %}
{% block cssFiles %}
    <link rel="stylesheet" href="{% static "blog/blog.css" %}">
{% endblock cssFiles %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="card">
        {% if "placeholder" in post.featured_image.url %}
            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                 alt="person typing code on a laptop"
                 class="card-img-top"
                 width="100px"
                 height="100px">
        {% else %}
            <img src="{{ post.featured_image.url }}" alt="" class="card-img-top">
        {% endif %}
        <div class="card-body">
            <h2 class="post-h2">{{ post.title |capfirst }}</h2>
            <h3>Author: {{ post.author }}</h3>
            <p>{{ post.content | striptags }}</p>
            <div class="comments-box">
                {% if commented %}
                    <p>your comment is pending approval</p>
                    <a href="{% url "index" %}">Click to go home</a>
                {% else %}
                    sd
                    {% if user.is_authenticated %}
                        {% for comment in comments %}
                            <div class="comments">
                                <p>{{ comment.body }} by {{ comment.name }}</p>
                            </div>
                        {% endfor %}
                        <p>Posting comment as {{ user.username }}</p>
                        <form action="" method="post" class="comment-form">
                            {% csrf_token %}
                            {{ comment_form }}
                            <button type="submit" class="commentsSubmit">Submit</button>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
            {% if liked == False %}
                <i class="far fa-heart"></i>
            {% else %}
                <i class="far fa-heart fillHeart"></i>
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block JSFiles %}
    <script src="{% static "blog/blog.js" %}"></script>
{% endblock JSFiles %}
sdsdsdsdsd
