{% extends "base.html" %}
{% load static %}
{% block cssFiels %}
    <link rel="stylesheet" href="{% static "blog/blog.css" %}">
{% endblock cssFiels %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for post in posts %}
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    {% if "placeholder" in post.featured_image.url %}
                                        <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                             alt="person typing code on a laptop"
                                             class="card-img-top">
                                    {% else %}
                                        <img src="{{ post.featured_image.url }}" alt="" class="card-img-top">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author">Written By: {{ post.author }}</p>
                                    </div>
                                    <a href="{% url "post" post.slug %}">
                                        <h2 class"card-title">{{ post.title }}</h2>
                                        <p class="card-text text-muted h6">
                                            {{ post.created_on | date:"d/m/y G:i" }}
                                            <i class="far fa-heart">{{ post.likes }}</i>
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}<div class="row">{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock content %}
{% block JSFiles %}
    <script src="{% static "blog/blog.js" %}"></script>
{% endblock JSFiles %}
sdsdfdsfsdfsdfsdf
sdfsdf
sdfassd
sdf
